@if (!menuItems || menuItems.length === 0)  {
  <div class="loading-screen">
    <mat-spinner diameter="48"></mat-spinner>
    <p class="mt-3 text-muted fw-semibold">Cargando proyecto...</p>
  </div>
} @else {
  <mat-sidenav-container class="layout-container">

    <!-- Sidebar (mobile only) -->
    <mat-sidenav
      #sidenav
      position="start"
      mode="over"
      [opened]="false"
      class="sidenav-mobile"
    >
      <app-sidebar (close)="sidenav.close()" [menuItems]="menuItems" />
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Navbar -->
      <app-navbar (toggleSidebar)="sidenav.toggle()" [menuItems]="menuItems" />

      <!-- Main content -->
      <main class="main-content">
        <router-outlet />
      </main>

      <!-- Footer -->
      <app-footer />
    </mat-sidenav-content>

  </mat-sidenav-container>
}